@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculator";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Wynik obliczeń @ViewBag.result</p>
        </div>
    </div>
</div>
